.box{
    width: 1345px;
    height: 2100px;
    margin: 0 auto;
}

/* 顶部导航部分 */
.daoh{
    width: 100%;
    height: 30px;
    background-color: rgb(246,246,246);
}
.daoleft{
    display: block;
    float: left;
    line-height: 30px;
    /* margin: 0px 280px; */
}
.daoright{
    width: 800px;
    height: 30px;
    float: right;
    /* margin: -30px 270px; */
    line-height: 30px;
}
.daoright li{
    display: block;
    float: right;
    padding: 0px 6px;

}

/* logo和搜索框购物车部分 */
.headsou{
    width: 1350px;
    height: 160px;
    margin: 0 auto;
}
.headsou>div{
    line-height: 160px ;
    float: left;
}
.headsou>div:nth-child(1){
    margin: 0px 0px;
}

.headsou>div:nth-child(2){
    margin: -17px 100px;
}
.headsou>div:nth-child(2)>div{
    font-size: 0;
}
.headsou>div:nth-child(2)>div>input:nth-child(1){
    width: 520px;
    height: 40px;
    outline: 2px solid rgb(255,50,0);
    border: 0px ;
}
.headsou>div:nth-child(2)>div>input:nth-child(2){
    width: 100px;
    height: 44px;
    border: 1px solid rgb(255,50,0);
    background-color: rgb(255,50,0);
}
.headsou>div:nth-child(2)>ul{
    margin: -120px 0px;
}
.headsou>div:nth-child(2)>ul li{
    padding: 0px 4px;
    display: inline-block;
}

.headsou>div:nth-child(3){
    width: 120px;
    height: 35px;
    margin-top:37px;
    margin-left: 195px;
    border: 1px solid rgb(226,226,226);
    background-color: rgb(246,246,246);
}
.headsou>div:nth-child(3)>div{
    width: 120px;
    height: 35px;
    margin:-60px 6px;
}


/* 全部商品分类导航 */
.spdaohan{
    width: 138%;
    height: 50px;
    border-bottom: 2px solid rgb(255,78,0);
    margin-left: -256px;
}
.spdaohan>ul{
    margin-left: 257px;
}
.spdaohan>ul li{
    padding: 0px 25px;
    display: inline-block;
    line-height: 50px;
    color: rgb(117,119,119);
    font-size: 17px;
}
.spdaohan>ul>li:nth-child(1){
    padding-right: 75px;
    color: white;
    background-color: rgb(255,50,0);
}
.spdaohan>ul>li:last-child{
    color: rgb(255,50,0);
    font-weight: 900;
    font-size: 15px;
    margin-left: 295px;
}

/* 层级导航 */
.controller{
    margin: 12px 0px;
}
.controller>ul li{
    display: inline-block;
    padding: 0px 2px;
}
.controller>ul li:last-child{
    border: 1px dashed rgb(255,50,0);
}
.controller>ul li:last-child>span{
    
    color: rgb(255,50,0);
}

/* 表单导航 */
.tab{
    width: 1350px;
    height: 224px;
    margin: 0 auto;
    border: 2px solid rgb(204,204,204);
    /* font-size: 15px; */
}
.tab>ul>li{
    margin-left: 40px;
    /* border-bottom: 1px solid rgb(204,204,204); */
}
.tab>ul>li>ul li{
    color: rgb(136,136,136);
    display: inline-block;
    padding-bottom:5px ;
    padding-right: 20px;
}
hr{
    height: 1px;
    border: none;
    border-top: 1px solid rgb(204,204,204);
}

/* one */
.tab>ul>li:nth-child(1){
    margin-top: 13px;
    height: 40px;
}
.tab>ul>li:nth-child(1)>ul{
    margin-left: 140px;
    margin-top: -22px;
}
.tab>ul>li:nth-child(1)>ul>li:nth-child(1){
    color: rgb(255,50,0);
}

/* two */
.tab>ul>li:nth-child(3){
    margin-top: 20px;
    height: 28px;
}
.tab>ul>li:nth-child(3)>ul{
    margin-left: 140px;
    margin-top: -22px;
}
.tab>ul>li:nth-child(3)>ul>li:nth-child(2){
    color: rgb(255,50,0);
}

/* three */
.tab>ul>li:nth-child(5){
    margin-top: 15px;
    height: 28px;
}
.tab>ul>li:nth-child(5)>ul{
    margin-left: 140px;
    margin-top: -22px;
}

/* four */
.tab>ul>li:nth-child(7){
    margin-top: 15px;
    height: 28px;
}
.tab>ul>li:nth-child(7)>ul{
    margin-left: 140px;
    margin-top: -22px;
}


/* 内容部分 */
.twocontent{
    width: 1350px;
    height: 800px;
    margin: 0 auto;
}
.leftcontent{
    float: left;
    width: 185px;
    height: 693px;
    margin: 20px 0px;
    border: 1px solid rgb(204,204,204);
}
.xiaodao{
    width: 185px;
    height: 30px;
    border-bottom:1px solid rgb(204,204,204);
    line-height: 30px;
}
.xiaodao>img:nth-child(1){
    float: left;
    margin-left: 15px;
    margin-top: 8px;
}
.xiaodao>span:nth-child(2){
    color: rgb(255,50,0);
    margin-left: 6px;
}
.xiaodao>span:nth-child(3){
    margin-left: 65px;
    color: rgb(204,204,204);
}

/* one */
.leftcontent>div:nth-child(2){
    height: 220px;
    border-bottom: 1px solid rgb(204,204,204);
}
.leftcontent>div>p{
    margin-left: 26px;
    padding-bottom: 2px;
}
.leftcontent>div>div{
    margin-left: 26px;
    padding-bottom: 2px;
}
.leftcontent>div:nth-child(2)>div>img{
    float: left;
    margin: 0px 0px;
}
.leftcontent>div:nth-child(2)>div>span:nth-child(2){
    float: left;
    margin: 3px 3px;
    color: rgb(255,50,0);
    font-size:17px ;
}
.leftcontent>div:nth-child(2)>div>span:nth-child(3){
    margin: 7px 8px;
    color: rgb(204,204,204);
    font-size: 12px;
    float: left;
}
/* two */
.leftcontent>div:nth-child(3){
    height: 220px;
    border-bottom: 1px solid rgb(204,204,204);
}
.leftcontent>div>p{
    margin-left: 26px;
    padding-bottom: 2px;
}
.leftcontent>div>div{
    margin-left: 26px;
    padding-bottom: 2px;
}
.leftcontent>div:nth-child(3)>div>img{
    float: left;
    margin: 0px 0px;
}
.leftcontent>div:nth-child(3)>div>span:nth-child(2){
    float: left;
    margin: 3px 3px;
    color: rgb(255,50,0);
    font-size:17px ;
}
.leftcontent>div:nth-child(3)>div>span:nth-child(3){
    margin: 7px 8px;
    color: rgb(204,204,204);
    font-size: 12px;
    float: left;
}
/* three */
.leftcontent>div:nth-child(4){
    height: 220px;
    border-bottom: 1px solid rgb(204,204,204);
}
.leftcontent>div>p{
    margin-left: 26px;
    padding-bottom: 2px;
}
.leftcontent>div>div{
    margin-left: 26px;
    padding-bottom: 2px;
}
.leftcontent>div:nth-child(4)>div>img{
    float: left;
    margin: 0px 0px;
}
.leftcontent>div:nth-child(4)>div>span:nth-child(2){
    float: left;
    margin: 3px 3px;
    color: rgb(255,50,0);
    font-size:17px ;
}
.leftcontent>div:nth-child(4)>div>span:nth-child(3){
    margin: 7px 8px;
    color: rgb(204,204,204);
    font-size: 12px;
    float: left;
}

/* 右边导航 */
.rightcontent{
    float: left;
    margin-top: -712px;
}
.rightxiaodao{
    width: 1145px;
    height: 27px;
    border-bottom: 1px solid rgb(204,204,204);
    margin-left: 205px ;
}
.rightxiaodao>ul li{
    width: 75px;
    float: left;
    text-indent: 14px;
    border: 1px solid rgb(204,204,204);
}
.rightxiaodao>ul>li:nth-child(1){
    background-color: rgb(255,50,0);
    color: white;
}
.up{
    float: right;
    margin-top: 3px;
    margin-right: 13px;
}
.down{
    float: right;
    margin-top: 10px;
    margin-right: -6px;
}
.rightxiaodao>span{
    float: right;
    margin-top: 0px;
}

/* 右边内容 */
.rightbottomcontent{
    width: 1145px;
    height: 1006px;
    margin-left: 200px;
    margin-top: 30px;
    /* border: 1px solid red; */

}
.rightbottomcontent>ul>li{
    width: 284px;
    height: 300px;
    float: left;
}
.rightbottomcontent>ul>li>img:nth-child(1){
    margin-left: 38px;
}
.onepl>img:nth-child(1){
    float: left;
    margin-left: 35px;
}
.onepl>span:nth-child(2){
    float: left;
    margin: 3px 3px;
    color: rgb(255,50,0);
    font-size:17px ;
}
.onepl>span:nth-child(3){
    margin: 7px 8px;
    color: rgb(204,204,204);
    font-size: 12px;
    float: left;
}
.twopl{
    float: left;
    margin: 0px 37px;
}
.threepl{
    float: left;
    margin-top: 20px;
    margin-left: 38px;
}
.threepl>ul>li{
    width: 70px;
    height: 29px;
    box-sizing: border-box;
    padding-left: 8px;
    padding-top: 4px;
    border: 1px solid rgb(204,204,204);
    float: left;
}
.threepl>ul>li:nth-child(2){
    width: 130px;
    color: rgb(255,50,0);
    padding-left: 16px;
    padding-top: 2px;
}

/* 分页导航 */
.fenyedaohang{
    width: 500px;
    height: 60px;
    float: right;
    margin-right: -39px ;
    margin-top:-47px ;
}
.fenyedaohang>ul>li{
    width: 42px;
    height: 43px;
    float: left;
    margin-left: 10px;
    text-indent: 16px;
    line-height: 43px;
    border: 1px solid rgb(204,204,204);
    border-radius: 6px;
}
.fenyedaohang>ul>li:nth-child(1){
    text-indent: 20px;
    width: 82px;
}
.fenyedaohang>ul>li:nth-child(2){
    color: white;
    background-color: rgb(255,50,0);
}
.fenyedaohang>ul>li:nth-child(5){
    border: none;
    text-indent: 11px;
    padding-top:13px;
}
.fenyedaohang>ul>li:nth-child(7){
    text-indent: 20px;
    width: 82px;
}


/* 四个说明 */
.sidao{
    width: 138%;
    height: 130px;
    background-color: rgb(246,246,246);
    margin-top: 411px;
    margin-left:-256px;
}
.sidao>ul{
    margin-left: 318px;
}
.sidao>ul>li{
    margin-right: 140px;
    display: inline-block;
}
.sidao>ul>li>img:nth-child(1){
    margin-top: 33px;
}
.sidao>ul>li>div:nth-child(2){
    margin-top: -60px;
    margin-left: 70px;
}
.sidao>ul>li>div:nth-child(3){
    color: rgb(145,145,145);
    margin-top: 10px;
    margin-left: 70px;
}

/* 底部导航 */
.bottomdao{
    width: 1345px;
    height: 400px;
}
.bottomdao>ul>li{
    width: 195px;
    height: 300px;
    float: left;
}
.bottomdao>ul>li>ul{
    margin-top: 24px;
    margin-left: 30px;
}
.bottomdao>ul>li>ul>li:first-child{
    font-size: 18px;
    padding-bottom: 15px;
    color: rgb(69,74,80);
}
.bottomdao>ul>li>ul>li{
    padding-bottom: 7px;
    color: rgb(145,145,145);
}
.bottomdao>ul>li:last-child{
    width: 290px;
    position: relative;
    margin-top: 29px;
    margin-left: 58px;
}
.bottomdao>ul>li:last-child>img:nth-child(2){
    position: absolute;
    margin-left: -114px;
    margin-top: 123px;
}
.bottomdao>ul>li:last-child>div{
    margin-left: 133px;
}
.bottomdao>ul>li:last-child>div:nth-child(3){
    margin-top: -113px;
}
.bottomdao>ul>li:last-child>div:nth-child(3)>span{
    color: rgb(145,145,145);
    position: absolute;
    margin-left: 7px;
    margin-top: 3px;
}
.bottomdao>ul>li:last-child>div:nth-child(4)>span{
    color: rgb(145,145,145);
    position: absolute;
    margin-left: 7px;
    margin-top: 3px;
}
.bottomdao>ul>li:last-child>div:nth-child(5){
    margin-top: 12px;
    color: rgb(145,145,145);
}
.bottomdao>ul>li:last-child>div:nth-child(6){
    font-size: 19px;
    padding-top: 5px;
    color: rgb(255,50,0);
}
